
h1{
  font-size: 5em;
  background-color: yellow;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
}

head{
  font-size: 3em;
  text-align: center;
}
#paragragh {
  text-align: center;
  font-size: 1em;
  font-family: 'Nanum Gothic', sans-serif;
}
#smallTitle{
  text-align: center;
  font-size:1.5em;
  font-style: italic;
  font-family: 'Nanum Gothic', sans-serif;
}
#smallName{
  text-align: center;
  font-size: 3em;
  background: yellow;
  font-family: 'Fjalla One', sans-serif;
}

#middleTitle
{
  text-align: center;
  font-size:3em;
  font-family: 'Nanum Gothic', sans-serif;
}
#menu {
  position: fixed;
  left: 0;
  top: 70%;
  width: 8em;
  margin-top: -2.5em;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  background:yellow;
  font-size:1.5em;
}
